---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-misc-non-private-member-variables-in-classes,-misc-non-private-member-variables-in-classes,-hicpp-special-member-functions,-cppcoreguidelines-special-member-functions'
WarningsAsErrors: '1'
HeaderFilterRegex: './src/'
FormatStyle:     none


