build/***
bin/**
lib/**
.vscode/***
.mypy_cache/*
.clangd
.cache
.idea
compile_commands.json
*.fail

*.aux
*.log
*.out
*.toc
report.pdf
comparison.pdf
*.synctex.gz
__latexindent_temp.tex
*.fdb_latexmk
*.fls